<h1 class="motto">We are at the heart of appropriate care</h1>
<div class="display">
    <div class="card-home">

            <img class="img-home" src="../assets/Images/Life Coach LogIn.jpg"/><br/><br/>
            <button (click)="logincoach()">Login as a Coach</button><br/><br/>
            <button (click)="joincoach()">Join as a Coach</button><br/>
     
    </div>
    <div class="card-home">
         <img class="img-home" src="../assets/Images/User LogIn.jpg"/><br/><br/>
        <button (click)="loginuser()" >Login as a User</button><br/><br/>
        <button (click)="joinuser()">Join as a User</button><br/>
    </div>
</div>
